<div class="login">
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form >
          <h1>Login Form</h1>
          <div>
            <input [(ngModel)]="loginUserData.email" name="email" type="email" class="form-control" placeholder="Email"
              required="">
          </div>
          <div>
            <input [(ngModel)]="loginUserData.password" type="password" name="password" class="form-control" placeholder="Password" required="" />
          </div>
          <div>
            <button type="submit" (click)="loginUser()" >Log In</button>
            <a class="reset_pass" href="#">Lost your password?</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <!-- <p class="change_link">New to site?
              <a routerLink="/signup" class="to_register"> Create Account </a>
            </p> -->
            <div class="clearfix"></div>
            <br />
            <div>
              <h1>SASAdoctor</h1>
              <p>©2019 All Rights Reserved.sasadoctor. <br />Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>